.Login__grid {
    display: grid;
    grid-template-columns: 40vw auto;
}


/**************************************************************
LOGIN BACKGROUND
**************************************************************/
.Login__grid-inner {
    background: #FF8400;
    height: 100vh;
}

.Login__grid-logo {
    display: block;
    margin: auto;
    height: 180px;
    width: 260px;
    margin-top: 100px;
}

.Login__grid-title {
    font-weight: 100;
    color: #fff;
    font-size: 16px;
    word-spacing: 1.4px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
}

.Login__grid-content {
    margin: auto;
    margin-top: 20px;
    font-weight: 100;
    display: block;
    color: #fff;
    width: 442px;
    font-size: 12px;
    word-spacing: 4.8px;
    letter-spacing: 2.3px;
    line-height: 18px;
    text-align: justify;
}

.Login__button-flex {
    width: 438px;
    margin: auto;
    position: relative;
    margin-top: 30px;
}

.Login__button {
    position: absolute;
    right: 0px;
    height: 24px;
    width: 24px;
}



