.BILD {
    background-color: #10001F;
}

.BILD__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.BILD__main {
    border-right: 1px solid #655E6E;
    padding: 50px;
    background: #10001f;
}


.BILD-Input__title {
    font-size: 13px;
    letter-spacing: 1.4px;
    color: #00d0de;
    font-weight: 300;
    opacity: 0.6;
}

.BILD-Input__title--big {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.BILD-Input__title--padding {
    padding: 10px 0px;
}

.BILD__input-address {
    width: 98%;
    border: none;
    border-radius: 3px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.BILD__inputs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 10px;
}

.BILD__token-proportion-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    grid-gap: 10px;
}

.BILD__input-approvals{
    width: 96%;
    height: 36px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
}

.BILD__input-approvals--full-width {
    width: 98%;
    height: 36px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
}

.BILD__button-grid {
    position: relative;
}

.BILD__button {
    height: 36px;
    width: 50%;
    float: right;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    background: #64e36b;
}
