@font-face {
    font-family: 'Runda';
    src: url('/src/Assets/fonts/Runda/Runda_Black.otf') format("otf");
}

@import "reset.css";

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    overflow: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input {
    outline: none;
}

button:focus {
    outline:0;
}

