@font-face {
    font-family: 'Runda';
    src: url('/src/Assets/fonts/Runda/Runda_Black.otf') format("otf");
}

@import "reset.css";

/**********************************************************************************
Login Slider Buttons
**********************************************************************************/

.slick-arrow, .slick-next {
    right: 13.5vw;
    top: 70vh;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
    content: '→';
    opacity: 1;
    border-radius: 26px;
}

.slick-next:before, .slick-prev:before {
    font-size: 26px;
    line-height: 1;
    color: #fff;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    overflow-x: hidden !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input {
    outline: none;
}

button:focus {
    outline:0;
}

